.content-list-page {
  @apply h-screen;
  display: grid;
  grid-template: "list content" auto/250px auto;
  .list {
    grid-area: list;
    @apply border-r text-xs overflow-y-auto;
  }
  .content {
    grid-area: content;
  }
}
