.category-page {
  @apply w-screen h-screen;

  display: grid;
  grid-template:
    "categorise content" auto
    "nav content" 35px/150px auto;

  .categories {
    grid-area: categorise;
    @apply border-r bg-slate-100 text-sm overflow-y-auto scroll-smooth;

    a {
      @apply p-2 truncate block;

      &.active {
        @apply bg-blue-600 text-white rounded-md mx-1;
      }
    }
  }
  .content {
    grid-area: content;
    @apply border-r;
  }
  .nav {
    grid-area: nav;
    @apply border-r border-t bg-slate-100 flex justify-center items-center gap-4;
  }
}
