.content-page {
  @apply w-full h-full;
  display: grid;
  grid-template: "list content" auto/120px auto;
  .list {
    grid-area: list;
    @apply border-r bg-slate-50;
  }
  .content {
    grid-area: content;
  }
}
